body {
    background-color: #232323;
    margin: 0;
    font-family: 'Oswald', sans-serif;
}

.square {
    width: 30%;
    background: purple;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
    border-radius: 15%;
    transition: background 0.9s;
}

#container {
    margin: 20px auto;
    max-width: 600px;
}

h1 {
    text-align: center;
    line-height: 1.1;
    font-weight: 100;
    color: #fffffff5;
    background-color: #4682b4;
    margin: 0;
    text-transform: uppercase;
    padding: 20px 0;
}

#colorDisplay {
    font-size: 200%;
    text-transform: uppercase;
}

#message {
    display: inline-block;
    width: 20%;
}

#stripe {
    background-color: #fffffff5;
    /* height: 30px; */
    text-align: center;
    color: black;
}

.selected {
    color: white;
    background-color: #4682b4;
}

button {
    border: none;
    background: none;
    text-transform: uppercase;
    height: 40px;
    font-weight: 700;
    color: #4682b4;
    letter-spacing: 1px;
    font-size: inherit;
    transition: all 0.9s;
    outline: none;
}

button:hover {
    color: white;
    background-color: #4682b4;
}